---
// Reusable yellow circle bullet with upward-pointing chevron
---
<span class="accordion-bullet">
  <svg width="9" height="5" viewBox="0 0 9 5" fill="#000">
    <path d="M8.126 4.941H.587C.065 4.941-.196 4.31.173 3.941L3.942.172a.585.585 0 0 1 .829 0l3.769 3.769c.369.369.108 1-.414 1z"/>
  </svg>
</span>
